 Resource: rsc_st_azure (class=stonith type=fence_azure_arm)
  Attributes: login={{ sap_hana_fencing_agent_client_id }} passwd={{ sap_hana_fencing_agent_client_password }} pcmk_reboot_timeout=900 power_timeout=240 resourceGroup={{ output.infrastructure.resource_group.name }} subscriptionId={{ sap_hana_fencing_agent_subscription_id }} tenantId={{ sap_hana_fencing_agent_tenant_id }}
  Operations: monitor interval=60s (rsc_st_azure-monitor-interval-60s)
